########################################################################################################################
## Corteza Discovery Indexer configuration

DISCOVERY_INDEXER_ES_ADDRESS=
DISCOVERY_INDEXER_CORTEZA_SERVER_BASE_URL=

DISCOVERY_INDEXER_PRIVATE_INDEX_CLIENT_KEY=
DISCOVERY_INDEXER_PRIVATE_INDEX_CLIENT_SECRET=

DISCOVERY_INDEXER_INDEX_INTERVAL=600

########################################################################################################################
## Corteza Discovery searcher configuration

# Searcher API location
DISCOVERY_SEARCHER_HTTP_ADDR=

# Elastic search location
DISCOVERY_SEARCHER_ES_ADDRESS=

# Corteza server location
DISCOVERY_SEARCHER_CORTEZA_SERVER_BASE_URL=

# Client Key and Secret
DISCOVERY_SEARCHER_CORTEZA_SERVER_CLIENT_KEY=
DISCOVERY_SEARCHER_CORTEZA_SERVER_CLIENT_SECRET=

# Corteza server JWT secret
DISCOVERY_SEARCHER_CORTEZA_SERVER_JWT_SECRET=
